<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-row">
    <div class="lg:w-2/6 md:w-3/6 w-5/6 mb-10">
      <img class="object-cover object-center rounded border border-gray-300" alt="conference" src="https://img.freepik.com/premium-photo/crowd-people-sit-stadium-one-which-is-blue-other-is-circle-with-light-it_783884-25708.jpg">
    </div>
    <div class="lg:w-4/6 md:w-3/6 w-5/6 mb-10 ml-10">
      {{ todaydate }}
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Discover Global Summit Connect: Connecting Innovators, Driving Change</h1>
      <p class="mb-8 leading-relaxed">
        At Global Summit Connect, our mission is to connect people, ideas, and opportunities across borders. We believe that by fostering collaboration and sharing knowledge, we can drive meaningful change and create a brighter future for generations to come.
      </p>
      <p class="mb-8 leading-relaxed">
        Global Summit Connect is a dynamic platform that brings together industry leaders, innovators, and visionaries from around the world. Our network spans diverse sectors, including technology, business, healthcare, sustainability, and more, creating a vibrant ecosystem of expertise and ideas.
      </p>
      <p class="mb-8 leading-relaxed">
        Global Summit Connect offers networking opportunities for professionals, industry experts, and potential partners through events, conferences, and online forums. They provide knowledge sharing through keynote speeches, panel discussions, and workshops on current trends and best practices. Collaborative projects with partners focus on innovative solutions for global challenges. The platform enables global reach, facilitating international partnerships and market exploration.
      </p>
      <p class="mb-8 leading-relaxed">
        Become part of our global community and unlock endless opportunities for growth, collaboration, and impact. Whether you're an individual professional, a startup, or a multinational corporation, there's a place for you at Global Summit Connect. Connect with us today and be part of a transformative journey towards a more connected and innovative world!
      </p>
      <div class="text-right">
        <button (click)="subscribeToNewsletter()" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Subscribe</button>
      </div>
    </div>
  </div>
</section>
